version: '3.8'
services:
  backend:
    build: ../backend
    ports:
      - '4000:4000'
    env_file:
      - ../backend/.env.example
  frontend:
    build: ../frontend
    command: npm run dev
    ports:
      - '3000:3000'
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:4000
